h1,
h2 {
	text-align: center;
	margin: 20px;
	color: #192a51;
}

.habitForm {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	background-color: #192a51;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	color: whitesmoke;
	max-width: 200px;
	width: 100%;
	min-height: 100px;
}

#inputForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px;
}

.habitList {
	display: flex;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
}

.delete-habit-button {
	background-color: #f5e6e8;
	padding: 3px;
	margin: 5px;
}
